boto3==1.12.7
alembic==1.0.10
aniso8601==6.0.0
Click==7.0
factory-boy==2.12.0
Faker==1.0.7
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
flask-swagger==0.2.14
geojson==1.3.4
GeoAlchemy2==0.6.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.10
MarkupSafe==1.1.1
mercantile==1.0.4
tiletanic==1.1.0
psycopg2==2.8.2
python-dateutil==2.8.0
python-dotenv==0.10.2
python-editor==1.0.4
pytz==2019.1
PyYAML==5.1
schematics==2.1.0
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.3.3
text-unidecode==1.2
Werkzeug==0.15.4
